<div class="heading-block">
  <h1><%= page.name.titleize %></h1>
</div>

<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">edit <%= page.link_name %> page</h3>
      </div>

      <div class="form-block">
        <%= form_for page, url: {action: "update"} do |f| %>
          <div class="form-group">
            <p class="card-text text-primary"><strong class="note">Note</strong>: Please see important information section for details.<p/>
            <%= f.label :link_name, "Name" %>
            <%= f.text_field :link_name, class: "form-control" %>
          </div>

          <% if page.show_copy_text %>
            <div class="form-group">
              <%= f.label :copy_text, "Description" %>
              <%= f.text_area :copy_text, rows: 6, value: page.format_edit_text, class: "form-control" %>
            </div>
          <% end %>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", :back, class: "btn btn-secondary" %>
          </div>

        <% end %>
      </div>

    </div>
  </div>

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">important information</h3>
      </div>

      <div class="card-col">
        <p class="card-text"><strong>Names longer than Two Words</strong> may break the layout on the main site. Try to keep them short and simple if possible</p>
        <p class="card-text m-b-2"><strong>Names that contain only one word</strong> will have <strong>"Our"</strong> prepended to itself when displayed in the showcase section of the main site <em>(homepage, section with pictures in the links)</em>. For example "Menus" will become "Our Menus"</p>
      </div>

    </div>
  </div>

</div>
