<% breadcrumb :root %>

<div class="heading-block">
  <h1>Page Index</h1>
</div>

<div id="admin-pages">

  <% @pages.each do |page| %>

    <div class="card-responsive">
      <div class="card-wrap">
        <div class="inner-card-wrap">

          <div class="card-block">
            <h4 class="page-card-title"><%= page.link_name %> <small class="pull-right">page</small> </h4>
            <p class="text-muted card-text"><%= page.description ? page.description : "" %></p>
          </div>

          <div class="page-card-block">
            <div class="inner-page-card-block">

              <%= link_to "name", edit_admin_page_path(page), class: "page-card-link name" %>

              <%= link_to "content", admin_page_path(page), class: "page-card-link content" %>

              <% if page.landings.empty? != true %>
                <%= link_to "Landing", admin_page_path(page, tab: "landing"), class: "page-card-link landing" %>
              <% end %>

              <% if page.food_truck_address != nil %>
                <%= link_to "Address", admin_page_path(page, tab: 'food_truck_address'), class: "page-card-link address" %>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>

  <% end %>

</div>
