<% breadcrumb :root %>

<div class="heading-block">
  <h1>Page Index</h1>
</div>

<div id="admin-pages">

  <% @pages.each do |page| %>

    <div class="card-responsive">
      <div class="card-wrap">
        <div class="inner-card-wrap">

          <div class="card-block">
            <h4 class="page-card-title"><%= page.link_name %> <small class="pull-right">page</small> </h4>
            <p class="text-muted card-text"><%= page.description ? page.description : "" %></p>
          </div>

          <div class="page-card-block">
            <div class="inner-page-card-block">

              <%= link_to "name / desc", edit_admin_page_path(page), class: "page-card-link name" %>

              <%= link_to "content", admin_page_path(page), class: "page-card-link content" %>

              <% if page.landings.empty? != true %>
                <%= link_to "Landing", admin_page_path(page, tab: "landings"), class: "page-card-link landing" %>
              <% end %>

              <% if !page.food_truck_addresses.empty? %>
                <%= link_to "Address", admin_page_path(page, tab: 'food_truck_address'), class: "page-card-link address" %>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>

  <% end %>

  <div class="card-responsive">
    <div class="card-wrap">
      <div class="inner-card-wrap">

        <div class="card-block">
          <div class="flex-wrap">

            <h4 class="page-card-title">Instagram Authorization</h4>

            <% if @instagram_auth %>
              <%= IG_authorized(@instagram_auth) %>

              <% if @instagram_auth.authorized === true %>
                <%= link_to "Turn Off Authorization", admin_instagram_auth_path(@instagram_auth), method: "delete", class: "btn btn-primary auth-btn" %>
              <% end %>

            <% else %>
              <p class="text-info">Set up your Instagram account here.</p>
              <p class="page-ig-info">In order to request images from your account, Instagram requires you to authorize the application to grant it permission</p>
              <a href="https://api.instagram.com/oauth/authorize/?client_id=38c5b7d5d66d454e8d386b0a581074ba&redirect_uri=<%= @redirect_url %>/admin/instagram_auth/new&response_type=code" type="button" class="btn btn-primary auth-btn">
                authorize account
              </a>

            <% end %>


          </div>
        </div>

      </div>
    </div>
  </div>

</div>
