<div class="card border-inverse">
  <div class="card-block bg-inverse">
    <h3 class="card-title"><%= page.name %> Page Landing</h3>
    <% if landing != nil %>
      <%= link_to "edit landing", edit_admin_landing_path(landing), class: "btn btn-info" %>
      <%= link_to "delete", admin_landing_path(landing), method: "delete", data: {confirm: "Are you sure you want to delete landing?"}, class: "btn btn-danger pull-md-right" %>
    <% end %>
  </div>

  <% if page.landings.empty? %>
      <div class="card-block">
        <p class="lead text-muted">No landing created yet.</p>
        <%= link_to "create landing", new_admin_page_landing_path(page), class: "btn btn-success" %>
      </div>
    <% else %>
      <div id="landing" class="jumbotron" style="background-image: url(<%= landing.image.url %>)">
        <h1><%= landing.heading.html_safe %></h1>
      </div>
  <% end %>
</div>
