<% breadcrumb :featured_item, @featured_item, "edit" %>
<div class="card-bs-row">

  <div class="card-span-lg-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">edit featured item</h3>
      </div>

      <div class="form-block">
        <%= form_for @featured_item, url: {action: "update"} do |f| %>
          <div class="form-group">
            <%= f.label :name, "Name", class: "font-weight-bold" %>:
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description, "Description", class: "font-weight-bold" %>:
            <%= f.text_area :description, rows: 6, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :link_url, "Link URL", class: "font-weight-bold" %>:
            <%= f.text_field :link_url, class: "form-control", value: @featured_item.link_url %>
          </div>

          <% if @featured_item.image? %>
            <figure class="form-group">
              <%= image_tag(@featured_item.image.featured_thumb.url, class:"figure-img") %>
              <%= link_to "delete image", admin_delete_featured_img_path(@featured_item), method: "delete", data: {confirm: "Are you sure you want to delete #{@featured_item[:image]}?"},  class: "btn btn-danger pull-xs-right" %>
              <figcaption class="figure-caption"><%= @featured_item[:image] %></figcaption>
            </figure>
          <% end %>

          <div class="form-group">
            <%= f.label :image, @featured_item.image? ? "Replace Image" : "Add Image", class: "font-weight-bold" %>:
            <%= f.file_field :image, class: "form-control-file" %>
            <%= f.hidden_field :image_cache %>
          </div>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", admin_page_path(@featured_item.page, tab: "featured_items"), class: "btn btn-secondary" %>
            <%= link_to "delete", admin_featured_item_path(@featured_item), method: "delete", data: {confirm: "Are you sure you want to delete  '#{@featured_item.name.titleize}'?"}, class: "btn btn-danger pull-xs-right" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="card-span-lg-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">tips for adding links</h3>
      </div>

      <div class="card-col card-text">
        <p>Add links to pages within BangarangBend.com or to completely different websites outside BangarangBend.com. This will be great for featuring specific vendors or events and adding a link to their website.</p>
        <p>Check out the examples below for valid link formats</p>
      </div>

      <div class="card-col no-grow">
        <h4 class="sub-title-text">Examples for Bangarangbend.com</h4>
      </div>

      <div class="card-col card-text text-primary">
        <ul class="bt-ul link-example-list">
          <li><i class="bt-li btl bt-angles-right"></i>http://bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>/services</li>
        </ul>
      </div>

      <div class="card-col no-grow">
        <h4 class="sub-title-text">Examples for Other Websites</h4>
      </div>

      <div class="card-col card-text text-primary">
        <ul class="bt-ul link-example-list">
          <li><i class="bt-li btl bt-angles-right"></i>http://www.google.com</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.google.com</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.instagram.com/chefdavebodi</li>
        </ul>
      </div>

    </div>
  </div>


</div>
