<% breadcrumb :featured_item, @featured_item, "edit" %>

<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-capitalize">edit featured item</h3>

      <%= form_for @featured_item, url: {action: "update"} do |f| %>
        <div class="form-group">
          <%= f.label :name, "name", class: "font-weight-bold" %>:
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "description", class: "font-weight-bold" %>:
          <%= f.text_area :description, rows: 6, class: "form-control" %>
        </div>

        <% if @featured_item.image? %>
          <figure class="form-group">
            <%= image_tag(@featured_item.image.featured_thumb.url, class:"figure-img") %>
            <figcaption class="figure-caption"><%= @featured_item[:image] %></figcaption>
          </figure>

          <div class="form-group">
            <%= link_to "delete image", admin_delete_featured_img_path(@featured_item), method: "delete", data: {confirm: "Are you sure you want to delete #{@featured_item[:image]}?"},  class: "btn btn-danger" %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :image, @featured_item.image? ? "Replace Image" : "Add Image", class: "font-weight-bold" %>:
          <%= f.file_field :image, class: "form-control-file" %>
          <%= f.hidden_field :image_cache %>
        </div>

        <%= f.submit "save", class: "btn btn-success" %>
        <%= link_to "back", admin_page_path(@featured_item.page, tab: "featured"), class: "btn btn-secondary" %>
        <%= link_to "delete", admin_featured_item_path(@featured_item), method: "delete", data: {confirm: "Are you sure you want to delete  '#{@featured_item.name.titleize}'?"}, class: "btn btn-danger pull-md-right" %>
      <% end %>

    </div>
  </div>
</div>
