<% breadcrumb :featured_item, @page, "new" %>
<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">new featured item</h3>
      </div>

      <div class="form-block">
        <%= form_for :featured_item, url: admin_page_featured_item_index_path do |f| %>
          <div class="form-group">
            <%= f.label :name, "name", class: "font-weight-bold" %>:
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description, "description", class: "font-weight-bold" %>:
            <%= f.text_area :description, rows: 6, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :link_url, "Link URL", class: "font-weight-bold" %>:
            <%= f.text_field :link_url, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :image, "upload image", class: "font-weight-bold" %>
            <%= f.file_field :image, class: "form-control-file" %>
          </div>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", :back, class: "btn btn-secondary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="card-span-lg-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">tips for adding links</h3>
      </div>

      <div class="card-col card-text">
        <p>Add links to pages within BangarangBend.com or to completely different websites outside BangarangBend.com. This will be great for featuring specific vendors or events and adding a link to their website.</p>
        <p>Check out the examples below for valid link formats</p>
      </div>

      <div class="card-col no-grow">
        <h4 class="sub-title-text">Examples for Bangarangbend.com</h4>
      </div>

      <div class="card-col card-text text-primary">
        <ul class="bt-ul link-example-list">
          <li><i class="bt-li btl bt-angles-right"></i>http://bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.bangarangbend.com/services</li>
          <li><i class="bt-li btl bt-angles-right"></i>/services</li>
        </ul>
      </div>

      <div class="card-col no-grow">
        <h4 class="sub-title-text">Examples for Other Websites</h4>
      </div>

      <div class="card-col card-text text-primary">
        <ul class="bt-ul link-example-list">
          <li><i class="bt-li btl bt-angles-right"></i>http://www.google.com</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.google.com</li>
          <li><i class="bt-li btl bt-angles-right"></i>www.instagram.com/chefdavebodi</li>
        </ul>
      </div>

    </div>
  </div>

</div>
