<% breadcrumb :featured_item, @page, "new" %>

<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-capitalize">new featured item</h3>

      <%= form_for :featured_item, url: admin_page_featured_item_index_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "name", class: "font-weight-bold" %>:
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "description", class: "font-weight-bold" %>:
          <%= f.text_area :description, rows: 6, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :link_url, "Link URL", class: "font-weight-bold" %>:
          <%= f.text_field :link_url, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image, "upload image", class: "font-weight-bold" %>
          <%= f.file_field :image, class: "form-control-file" %>
        </div>

        <%= f.submit "save", class: "btn btn-success" %>
        <%= link_to "back", :back, class: "btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="card card-block">
    <h3 class="card-title text-capitalize">tips for adding links</h3>
      <div class="card-block bg-info">
        <p>Add links to pages within BangarangBend.com or to completely different websites outside BangarangBend.com. For example this will be great for featuring specific vendors and adding a link to their website.</p>
        <p>Simply copy the full URL of the page you would like to link to, and paste it into the Link URL field.</p>
        <ul>
          <li><b>For Example</b></li>
          <li>https://bangarangbend.com/menus/catered_fare</li>
          <li>https://bangarangbend.com/customized_events</li>
          <br>
          <li>https://www.google.com/</li>
          <li>https://www.instagram.com/chefdavebodi/</li>
        </ul>
      </div>
  </div>
</div>
