<div class="heading-block">
  <h1>Food Truck</h1>
  <%= link_to "add new address", new_admin_page_food_truck_address_path(params[:id]), class: 'add-link' %>
</div>
<div class="card-bs-row">

  <% food_truck_addresses.each do |food_truck_address| %>
  <div class="card-span-lg-6">
    <div class="card-content-wrap">

        <div class="card-col title">
          <h3 class="title-text">Address link
            <% if food_truck_address.active == true %>
                <span class="active-address">Active</span>
            <% else %>
                <span class="disabled-address">Disabled</span>
            <% end %>
          </h3>
        </div>

        <div class="card-col">
          <h5>Description</h5>
          <p class="card-text"><%= food_truck_address[:description] %></p>
        </div>

        <div class="card-col">
          <h5>Google Maps Link</h5>
          <p class="card-text"><%= food_truck_address[:link_url] %></p>
        </div>

        <div class="card-row controls">
          <%= link_to "edit", edit_admin_food_truck_address_path(food_truck_address), class: "page-card-link edit" %>

          <% if food_truck_address.active == false %>
            <%= link_to "set active", admin_food_truck_address_set_active_path(food_truck_address), method: "post", data: {confirm: "Set to active link?"}, class: "page-card-link check-circle" %>
          <% end %>
          <%= link_to "delete", admin_food_truck_address_path(food_truck_address), method: "delete", data: {confirm: "Are You Sure You Want to Delete Address Link?"}, class: "page-card-link delete" %>
        </div>

      </div>
    </div>
    <% end %>

</div>
