<% breadcrumb :menu_section, @menu_section, "edit" %>

<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">edit menu section</h3>
      </div>

      <div class="form-block">
        <%= form_for @menu_section, url: { action: "update" } do |f| %>

          <div class="form-group">
            <%= f.label :name, "name", class: "font-weight-bold" %>:
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", admin_catering_menu_path(@menu_section.catering_menu), class: "btn btn-secondary" %>
            <%= link_to "delete", admin_menu_section_path(@menu_section), method: "delete", data: {confirm: "Are you sure you want to delete '#{caps_first(@menu_section.name)}' and all menu items associated with it?"}, class: "btn btn-danger pull-xs-right" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">Menu Section Details</h3>
      </div>

      <div class="card-col">
        <h4>Belongs To</h4>
        <ul class="details-list">
          <li><span>Menu</span> <%= @menu_section.catering_menu.name %></li>
        </ul>
      </div>

      <div class="card-col">
        <h4>Info</h4>
        <ul class="details-list">
          <li><span>created</span> <%= ftime(@menu_section.created_at) %></li>
          <li><span>updated</span> <%= ftime(@menu_section.updated_at) %></li>
        </ul>
      </div>

    </div>
  </div>

</div>
