<% breadcrumb :catering_menu, @catering_menu, "edit" %>

<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">edit catering menu</h3>
      </div>

      <div class="form-block">
        <%= form_for @catering_menu, url: {action: "update"} do |f| %>
          <div class="form-group">
            <%= f.label :name, "name", class: "font-weight-bold" %>:
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description, "description", class: "font-weight-bold" %>:
            <%= f.text_area :description, rows: 6, class: "form-control" %>
          </div>

          <div class="form-group controls">
            <%= f.submit "update", class: "btn btn-success" %>
            <%= link_to "cancel", :back, class: "btn btn-secondary" %>
            <%= link_to "delete", admin_catering_menu_path(@catering_menu), method: "delete", data: {confirm: "Are you sure you want to delete '#{caps_first(@catering_menu.name)}' and all menu sections/items associated with it?"}, class: "btn btn-danger pull-xs-right" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
