<% breadcrumb :catering_menu, @catering_menu %>

  <div class="menu-row">
    <%= render partial: "admin/catering_menu/partials/show", locals: {catering_menu: @catering_menu, link: false} %>
    <%= render partial: "admin/catering_menu/partials/section_details", locals: {catering_menu: @catering_menu} %>
  </div>

  <div class="heading-block">
    <h1>menu sections</h1>
    <%= link_to "add section", new_admin_catering_menu_menu_section_path(@catering_menu), class: "add-link" %>
  </div>

    <div class="list-group menu-list-group list-group-flush">
      <% @catering_menu.menu_sections.each do |section| %>
        <div class="list-group-item menu-list">

          <div class="menu-card-nav">
            <h4 class="font-weight-bold text-capitalize"><%= section[:name] %></h4>
            <%= link_to "edit", edit_admin_menu_section_path(section), class: "menu-link edit" %>
            <%= link_to "delete", admin_menu_section_path(section), method: "delete", data: {confirm: "Are you sure you want to delete '#{caps_first(section.name)}' and all menu items associated with it?"}, class: "menu-link delete" %>
          </div>

          <div class="menu-row">
            <% section.menu_items.each do |item| %>
              <%= link_to edit_admin_menu_item_path(item), class:"menu-col" do %>
                <div class="menu-item">
                  <p class="item-name"><strong><%= item[:name] %></strong></p>
                  <p class="choices"><%= item[:choices] %></p>
                  <span class="price">[ <%= item[:price] %> ]</span>
                </div>
              <% end %>
            <% end %>

            <%= link_to new_admin_menu_section_menu_item_path(section), class: "menu-col text-capitalize" do %>
              <div class="menu-item-link-success">
                <p class="lead"><i class="btl bt-lg bt-plus-circle"></i> add menu item</p>
              </div>
            <% end %>
          </div>

        </div>

      <% end %>
    </div>
