<div class="col-xs-12">
  <div class="card card-inverse card-primary">

    <div class="card-block">
      <h3 class="card-title text-capitalize"><%= @catering_menu[:name] %></h3>
    </div>

    <div class="list-group list-group-flush">
      <% @catering_menu.menu_sections.each do |section| %>
        <div class="list-group-item">
          <h4 class="font-weight-bold text-capitalize"><%= section[:name] %></h4>
          <div class="row menu-row">

            <% section.menu_items.each do |item| %>
              <%= link_to edit_admin_menu_item_path(item), class:"col-xs-6 menu-item-col" do %>
                <div class="menu-item">
                  <p><%= item[:name] %> <em>(<%= item[:price] %>)</em></p>
                  <p class="text-muted choices"><%= item[:choices] %></p>
                </div>
              <% end %>
            <% end %>

            <%= link_to new_admin_menu_section_menu_item_path(section), class: "col-xs-6 menu-item-col text-capitalize" do %>
              <div class="menu-item-link-success">
                <p class="lead"><i class="fa fa-plus-circle"></i> add menu item</p>
              </div>
            <% end %>

          </div>
        </div>
        <div class="card-block">
        </div>
      <% end %>
    </div>

  </div>
</div>
