<% breadcrumb :event_produce_item, @page, "new" %>

<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">add new produce</h3>
      </div>

      <div class="form-block">
        <%= form_for :event_produce_item, url: admin_page_event_produce_item_index_path do |f| %>
          <div class="form-group">
            <%= f.label :name, "name", class: "font-weight-bold" %>:
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", admin_page_path(@page, tab: "event_produce_items"), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
