<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-capitalize">add new produce</h3>

      <%= form_for :event_produce_item, url: admin_page_event_produce_item_index_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "name", class: "font-weight-bold" %>:
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :description, "description", class: "font-weight-bold" %>:
          <%= f.text_area :description, rows: 6, class: "form-control" %>
        </div>

        <%= f.submit "save", class: "btn btn-success" %>
        <%= link_to "cancel", :back, class: "btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>
