<div class="card border-inverse">

  <div class="card-block bg-inverse">
    <h3 class="card-title">months</h3>
    <%= link_to "add month", new_admin_page_event_item_path(params[:id]), class: "btn btn-success" %>
  </div>

  <div class="list-group list-group-flush">
    <% event_items[:event_items].each do |event_item| %>

      <div class="list-group-item border-inverse">
        <h4 class="font-weight-bold text-capitalize no-margin"><%= event_item[:name] %></h4>

        <small class="font-weight-bold text-uppercase">Assigned Produce: </small>
        <small><%= event_item.num_of_produce %></small>

        <div class="card-block">
          <span class="font-weight-bold">Description:</span>
          <p class="description text-muted">
            <% if event_item[:description] === nil %>
              No description entered yet
            <% else %>
              <%= event_item[:description] %>
            <% end %>
          </p>
        </div>



        <%= link_to "edit", edit_admin_event_item_path(event_item), class: "btn btn-info" %>
        <%= link_to "delete", admin_event_item_path(event_item), method: "delete", data: {confirm: "Are you sure you want to delete  '#{event_item.name.titleize}' ?"}, class: "btn btn-danger pull-md-right" %>
      </div>

    <% end %>
  </div>

</div>
