<% breadcrumb :menu_item, @menu_item, "edit" %>

<div class="card-bs-row">

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">edit menu item</h3>
      </div>

      <div class="form-block">
        <%= form_for @menu_item, url: {action: "update"} do |f| %>
          <div class="form-group">
            <%= f.label :name, "name:" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :choices, "choices:" %>
            <%= f.text_area :choices, rows: 6, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :price, "price:" %>
            <%= f.text_field :price, class: "form-control" %>
          </div>

          <div class="form-group controls">
            <%= f.submit "save", class: "btn btn-success" %>
            <%= link_to "cancel", admin_catering_menu_path(@menu_item.catering_menu), class: "btn btn-secondary" %>
            <%= link_to "delete", admin_menu_item_path(@menu_item), method: "delete", data: {confirm: "Are you sure you want to delete #{@menu_item.name}?"}, class: "btn btn-danger pull-xs-right" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="card-span-md-6">
    <div class="card-content-wrap">

      <div class="card-col title">
        <h3 class="title-text">Menu Item Details</h3>
      </div>

      <div class="card-col">
        <h4>Belongs To</h4>
        <ul class="details-list">
          <li><span>Menu</span> <%= @menu_item.catering_menu.name %></li>
          <li><span>Section</span> <%= @menu_item.menu_section.name %></li>
        </ul>
      </div>

      <div class="card-col">
        <h4>Item Info</h4>
        <ul class="details-list">
          <li><span>created</span> <%= ftime(@menu_item.created_at) %></li>
          <li><span>updated</span> <%= ftime(@menu_item.updated_at) %></li>
        </ul>
      </div>

    </div>
  </div>

</div>
