<a type="button" class="produce-link add pull-xs-right m-t-1" data-toggle="modal" data-target="#myModal">
  Add / Remove Produce
</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Produce <small class="text-muted text-uppercase"><%= @event_item.name %></small></h4>
      </div>

      <%= form_for @event_item, url: {action: "update"} do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="produce">

                  <%= f.collection_check_boxes :event_produce_item_ids, EventProduceItem.all, :id, :name do |b| %>
                    <div class="produce-item">
                      <%= b.check_box %>
                      <%= b.label do %>
                        <%= b.text %>
                        <i class="btl bt-check-circle"></i>
                      <% end %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit "save", class: "btn btn-success pull-xs-left" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
