<!DOCTYPE html>
<html>
<head>
  <title>BangarangBend Admin</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300|Roboto:300,300i,400" rel="stylesheet">
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "admin/shared/navbar" %>

  <div class="admin-container">
    <div class="row">

      <% if admin_signed_in? %>
        <div class="col-xs-12 col-xl-10 col-xl-offset-1">
          <%= render "admin/shared/breadcrumbs" %>
        </div>
      <% end %>

      <div id="flash-messages">
        <%= render "admin/shared/flash_messages" %>
      </div>

      <div class="col-xs-12 col-xl-10 col-xl-offset-1">
        <%= yield %>
      </div>

    </div>
  </div>

</body>
</html>
