<!DOCTYPE html>
<html>
<head>
  <title>BangarangBend Admin</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Roboto:400,300italic,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "admin/shared/navbar" %>

<div class="admin-container">
  
  <div class="row">
    <%= render "admin/shared/flash_messages" %>
  </div>

  <div class="row">
    <%= yield %>
  </div>

</div>


</body>
</html>
