<!DOCTYPE html>
<html lang="en">
<head>
  <title>BangarangBend</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="1-x7RTjoUaOWOag2LDNwsA_7kswewWisfGvA1VcCD2o" />
</head>
<body>

<%= yield %>

<script>
$(document).ready(function(){
  BangarangBend.initialize(<%= (render partial: "main/index.json").html_safe %>);
  Backbone.history.start({pushState: true})
})
</script>
<%= render 'analytics' %>
</body>
</html>
