<!DOCTYPE html>
<html>
<head>
  <title>BangarangBend</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Roboto:400,300italic,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="1-x7RTjoUaOWOag2LDNwsA_7kswewWisfGvA1VcCD2o" />
</head>
<body>

<%= yield %>

<script>
$(document).ready(function(){
  BangarangBend.initialize(<%= (render partial: "application/index.json").html_safe %>);
  Backbone.history.start()
})
</script>
<%= render 'analytics' %>
</body>
</html>
