<!DOCTYPE html>
<html>
<head>
  <title>BangarangBend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
$(document).ready(function(){
  BangarangBend.initialize(<%= (render partial: "application/index.json").html_safe %>);
  Backbone.history.start()
})
</script>

</body>
</html>
